java/web/WEB-INF/.gitignore
java/.tern-project
java/.settings/org.eclipse.wst.validation.prefs
java/.settings/org.eclipse.wst.jsdt.ui.superType.name
java/.settings/org.eclipse.wst.jsdt.ui.superType.container
java/.settings/org.eclipse.wst.common.project.facet.core.xml
java/.settings/org.eclipse.wst.common.component
java/.settings/org.eclipse.m2e.core.prefs
java/.settings/org.eclipse.jdt.core.prefs
java/.settings/org.eclipse.core.resources.prefs
java/.settings/.jsdtscope
java/.project
java/.gitignore
java/.classpath
